extends html, javascript, css
snippet store "init"
import { Module, VuexModule, Mutation, Action } from 'vuex-module-decorators'

@Module
export default class ${1} extends VuexModule {
  ${2}
}
endsnippet 

