snippet mongo ""
import Mongoose from '../classes/Mongoose.js';
import ${1}Schema from '../schemas/$1Schema.js';

class $1 extends Mongoose {
  constructor() {
    const { MONGO_$1_URL, MONGO_$1_NAME } = process.env;
    super(MONGO_$1_URL, MONGO_$1_NAME, $1Schema);
  }
}
export default new $1();
endsnippet

snippet look ""
{
  $lookup: {
    from: '${1}',
    localField: '${2}',
    foreignField: '${3}',
    as: '${4}',
  }
}
endsnippet
