snippet mongo ""
import mongoose from 'mongoose';
import ${1}Schema from '../schemas/$1Schema.js';

mongoose.Promise = global.Promise;
const url = process.env.MONGO_$1_URL;
const db = mongoose.createConnection(url);
const tableName = process.env.MONGO_$1_NAME;
const $1 = db.model(tableName, mongoose.Schema($1Schema, {
  versionKey: false,
}), tableName);
export default $1;
endsnippet
