snippet page
const app = getApp();
Page({
  data: {
    ${1},
  },
  onLoad(options) {
  },
  onShow(options) {
  },
});
endsnippet 

snippet comp
Component({
  properties: {
  },
  data: {
  },
  methods: {
  },
  ready() {
  },
});
endsnippet
