extends html, javascript, css

snippet init "init"
<template>
  <div class="${1}-container">
    <div class="filter-container">
    </div>
  </div>
</template>

<script>
  export default {
    name: '',
    props: {
    },
    components: {
    },
    data() {
      return {
      };
    },
    created() {
    },
    mounted() {
    },
    computed: {
    },
    watch: {
    },
    filters: {
    },
    methods: {
    },
  };
</script>

<style lang="scss" scoped>
</style>
endsnippet 

