extends html, javascript, css
snippet it "init"
<template lang="pug">
</template>

<script>
  export default {
    props: {
    },
    components: {
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    },
  };
</script>
endsnippet 

snippet vuex
  import { mapGetters, mapMutations } from 'vuex';
endsnippet 
