snippet h1 "aaaaa"
= ${1} =
endsnippet 

snippet h2 ""
== ${1} ==
endsnippet 

snippet h3 ""
=== ${1} ===
endsnippet 

snippet h4 ""
==== ${1} ====
endsnippet 

snippet h5 ""
===== ${1} =====
endsnippet 

snippet h6 ""
====== ${1} ======
endsnippet 

snippet code ""
{{{
  ${1}
}}}
endsnippet 
