# div
snippet div
<div ${1}>
${2}
</div>
endsnippet

# span
snippet span
<span ${1}>
${2}
</span>
endsnippet


# input
snippet input
<input ${1}>
${2}
</input>
endsnippet

# p
snippet p
<p ${1}>
${2}
</p>
endsnippet

# template
snippet tem
<template ${1}>
${2}
</template>
endsnippet
