# div
snippet div
<div ${1}>
  ${2}
</div>
endsnippet

# span
snippet span
<span ${1}>
  ${2}
</span>
endsnippet


# input
snippet input
<input ${1}>
  ${2}
</input>
endsnippet

# img
snippet img
<img ${1}>
</img>
endsnippet
