snippet ebtn "el-button"
<el-button ${1}>
  ${2:${VISUAL}}
</el-button>
endsnippet

snippet einp "el-input"
<el-input ${1}>
  ${2:${VISUAL}}
</el-input>
endsnippet

snippet eswi "el-input"
<el-switch ${1}>
  ${2:${VISUAL}}
</el-switch>
endsnippet

snippet efi "el-input"
<el-form-item ${1}>
  ${2:${VISUAL}}
</el-form-item>
endsnippet

snippet efor "el-input"
<el-form ${1}>
  ${2:${VISUAL}}
</el-form>
endsnippet
